2020-12-18 10:39:11  (rev 0)
    +_libgcc_mutex-0.1 (conda-forge/linux-64)
    +_openmp_mutex-4.5 (conda-forge/linux-64)
    +ca-certificates-2020.12.5 (conda-forge/linux-64)
    +certifi-2020.12.5 (conda-forge/linux-64)
    +ld_impl_linux-64-2.35.1 (conda-forge/linux-64)
    +libffi-3.3 (conda-forge/linux-64)
    +libgcc-ng-9.3.0 (conda-forge/linux-64)
    +libgomp-9.3.0 (conda-forge/linux-64)
    +libstdcxx-ng-9.3.0 (conda-forge/linux-64)
    +ncurses-6.2 (conda-forge/linux-64)
    +openssl-1.1.1i (conda-forge/linux-64)
    +pip-20.3.3 (conda-forge/noarch)
    +python-3.9.1 (conda-forge/linux-64)
    +python_abi-3.9 (conda-forge/linux-64)
    +readline-8.0 (conda-forge/linux-64)
    +setuptools-49.6.0 (conda-forge/linux-64)
    +sqlite-3.34.0 (conda-forge/linux-64)
    +tk-8.6.10 (conda-forge/linux-64)
    +tzdata-2020d (conda-forge/noarch)
    +wheel-0.36.2 (conda-forge/noarch)
    +xz-5.2.5 (conda-forge/linux-64)
    +zlib-1.2.11 (conda-forge/linux-64)

2020-12-18 10:48:27  (rev 1)
     _openmp_mutex  {4.5 (conda-forge/linux-64) -> 4.5 (conda-forge/linux-64)}
    +blas-2.21 (conda-forge/linux-64)
    +cpuonly-1.0 (pytorch/noarch)
    +freetype-2.10.4 (conda-forge/linux-64)
    +jpeg-9d (conda-forge/linux-64)
    +lcms2-2.11 (conda-forge/linux-64)
    +libblas-3.8.0 (conda-forge/linux-64)
    +libcblas-3.8.0 (conda-forge/linux-64)
    +libgfortran-ng-9.3.0 (conda-forge/linux-64)
    +libgfortran5-9.3.0 (conda-forge/linux-64)
    +liblapack-3.8.0 (conda-forge/linux-64)
    +liblapacke-3.8.0 (conda-forge/linux-64)
    +libpng-1.6.37 (conda-forge/linux-64)
    +libtiff-4.1.0 (conda-forge/linux-64)
    +libwebp-base-1.1.0 (conda-forge/linux-64)
    +llvm-openmp-11.0.0 (conda-forge/linux-64)
    +lz4-c-1.9.2 (conda-forge/linux-64)
    +mkl-2020.4 (conda-forge/linux-64)
    +ninja-1.10.2 (conda-forge/linux-64)
    +numpy-1.19.4 (conda-forge/linux-64)
    +olefile-0.46 (conda-forge/noarch)
    +pillow-8.0.1 (conda-forge/linux-64)
    +pytorch-1.7.1 (pytorch/linux-64)
    +six-1.15.0 (conda-forge/noarch)
    +torchaudio-0.7.2 (pytorch/linux-64)
    +torchvision-0.2.2 (pytorch/noarch)
    +typing_extensions-3.7.4.3 (conda-forge/noarch)
    +zstd-1.4.5 (conda-forge/linux-64)

2020-12-18 10:49:07  (rev 2)
    +absl-py-0.11.0 (conda-forge/linux-64)
    +aiohttp-3.7.3 (conda-forge/linux-64)
    +async-timeout-3.0.1 (conda-forge/noarch)
    +attrs-20.3.0 (conda-forge/noarch)
    +blinker-1.4 (conda-forge/noarch)
    +brotlipy-0.7.0 (conda-forge/linux-64)
    +c-ares-1.17.1 (conda-forge/linux-64)
    +cachetools-4.1.1 (conda-forge/noarch)
    +cffi-1.14.4 (conda-forge/linux-64)
    +chardet-3.0.4 (conda-forge/linux-64)
    +click-7.1.2 (conda-forge/noarch)
    +cryptography-3.3.1 (conda-forge/linux-64)
    +fsspec-0.8.5 (conda-forge/noarch)
    +future-0.18.2 (conda-forge/linux-64)
    +google-auth-1.24.0 (conda-forge/noarch)
    +google-auth-oauthlib-0.4.1 (conda-forge/noarch)
    +grpcio-1.34.0 (conda-forge/linux-64)
    +idna-2.10 (conda-forge/noarch)
    +importlib-metadata-3.3.0 (conda-forge/linux-64)
    +libprotobuf-3.14.0 (conda-forge/linux-64)
    +markdown-3.3.3 (conda-forge/noarch)
    +multidict-5.1.0 (conda-forge/linux-64)
    +oauthlib-3.0.1 (conda-forge/noarch)
    +packaging-20.8 (conda-forge/noarch)
    +protobuf-3.14.0 (conda-forge/linux-64)
    +pyasn1-0.4.8 (conda-forge/noarch)
    +pyasn1-modules-0.2.7 (conda-forge/noarch)
    +pycparser-2.20 (conda-forge/noarch)
    +pyjwt-1.7.1 (conda-forge/noarch)
    +pyopenssl-20.0.1 (conda-forge/noarch)
    +pyparsing-2.4.7 (conda-forge/noarch)
    +pysocks-1.7.1 (conda-forge/linux-64)
    +pytorch-lightning-1.1.0 (conda-forge/noarch)
    +pyyaml-5.3.1 (conda-forge/linux-64)
    +requests-2.25.1 (conda-forge/noarch)
    +requests-oauthlib-1.3.0 (conda-forge/noarch)
    +rsa-4.6 (conda-forge/noarch)
    +tensorboard-2.4.0 (conda-forge/noarch)
    +tensorboard-plugin-wit-1.7.0 (conda-forge/noarch)
    +tqdm-4.54.1 (conda-forge/noarch)
    +typing-extensions-3.7.4.3 (conda-forge/noarch)
    +urllib3-1.26.2 (conda-forge/noarch)
    +werkzeug-1.0.1 (conda-forge/noarch)
    +yaml-0.2.5 (conda-forge/linux-64)
    +yarl-1.6.3 (conda-forge/linux-64)
    +zipp-3.4.0 (conda-forge/noarch)

2020-12-18 11:40:06  (rev 3)
     libprotobuf  {3.14.0 (conda-forge/linux-64) -> 3.13.0.1 (conda-forge/linux-64)}
     protobuf  {3.14.0 (conda-forge/linux-64) -> 3.13.0.1 (conda-forge/linux-64)}
    +abseil-cpp-20200225.2 (conda-forge/linux-64)
    +arrow-cpp-2.0.0 (conda-forge/linux-64)
    +aws-c-common-0.4.59 (conda-forge/linux-64)
    +aws-c-event-stream-0.1.6 (conda-forge/linux-64)
    +aws-checksums-0.1.10 (conda-forge/linux-64)
    +aws-sdk-cpp-1.8.70 (conda-forge/linux-64)
    +brotli-1.0.9 (conda-forge/linux-64)
    +bzip2-1.0.8 (conda-forge/linux-64)
    +gflags-2.2.2 (conda-forge/linux-64)
    +glog-0.4.0 (conda-forge/linux-64)
    +grpc-cpp-1.33.2 (conda-forge/linux-64)
    +krb5-1.17.2 (conda-forge/linux-64)
    +libcurl-7.71.1 (conda-forge/linux-64)
    +libedit-3.1.20191231 (conda-forge/linux-64)
    +libev-4.33 (conda-forge/linux-64)
    +libevent-2.1.10 (conda-forge/linux-64)
    +libnghttp2-1.41.0 (conda-forge/linux-64)
    +libssh2-1.9.0 (conda-forge/linux-64)
    +libthrift-0.13.0 (conda-forge/linux-64)
    +libutf8proc-2.6.1 (conda-forge/linux-64)
    +orc-1.6.5 (conda-forge/linux-64)
    +parquet-cpp-1.5.1 (conda-forge/noarch)
    +pyarrow-2.0.0 (conda-forge/linux-64)
    +re2-2020.11.01 (conda-forge/linux-64)
    +snappy-1.1.8 (conda-forge/linux-64)

2020-12-18 11:40:57  (rev 4)
    +dataclasses-0.7 (conda-forge/noarch)
    +dill-0.3.3 (conda-forge/noarch)
    +filelock-3.0.12 (conda-forge/noarch)
    +nlp-0.4.0 (conda-forge/noarch)
    +pandas-1.1.5 (conda-forge/linux-64)
    +python-dateutil-2.8.1 (conda-forge/noarch)
    +python-xxhash-2.0.0 (conda-forge/linux-64)
    +pytz-2020.4 (conda-forge/noarch)
    +xxhash-0.8.0 (conda-forge/linux-64)

